<template>
  <div id="app">
    <md-card>
        <md-tabs class="md-primary" md-alignment="fixed">
          <md-tab id="tab-login" md-label="Log in">
            <md-card-content>
              <md-field>
                <label>Email</label>
                <md-input autocomplete="off" name="email" type="email" v-model="info.email" v-validate="'required|email'" :disabled="disable"></md-input>
                <span class="md-helper-text" v-if="errors.has('email')">{{errors.first('email')}}</span>
              </md-field>
              <md-field>
                <label>Password</label>
                <md-input autocomplete="off" name="password" type="password"  v-model="info.password" v-validate="'required|min:7'" :disabled="disable"></md-input>
                <span class="md-helper-text" v-if="errors.has('password')">{{errors.first('password')}}</span>
              </md-field>
            </md-card-content>
            <md-card-actions>
              <md-checkbox v-model="remember_me" :disabled="disable">Remember me</md-checkbox>
              <md-button class="md-dense md-primary md-raised" :disabled="isError" @click="submit">Submit</md-button>
            </md-card-actions>
          </md-tab>
          <md-tab id="tab-signin" md-label="Sign in">
            <md-card-content>
              <md-field>
                <label>Email</label>
                <md-input autocomplete="off" name="email" type="email" v-model="info.email" v-validate="'required|email'" :disabled="disable"></md-input>
                <span class="md-helper-text" v-if="errors.has('email')">{{errors.first('email')}}</span>
              </md-field>
              <md-field>
                <label>Password</label>
                <md-input autocomplete="off" name="password" type="password"  v-model="info.password" v-validate="'required|min:7'" ref="password" :disabled="disable"></md-input>
                <span class="md-helper-text" v-if="errors.has('password')">{{errors.first('password')}}</span>
              </md-field>
              <md-field>
                <label>Password again</label>
                <md-input autocomplete="off" name="password_confirmation" type="password"  v-validate="'required|confirmed:password'" data-vv-as="password" :disabled="disable"></md-input>
                <span class="md-helper-text" v-if="errors.has('password_confirmation')">{{errors.first('password_confirmation')}}</span>
              </md-field>
            </md-card-content>
            <md-card-actions>
              <md-checkbox v-model="remember_me" :disabled="disable">Remember me</md-checkbox>
              <md-button class="md-dense md-primary md-raised" :disabled="isError" @click="submit">Submit</md-button>
            </md-card-actions>
          </md-tab>
        </md-tabs>
      </md-card>
    <md-snackbar :md-duration="Infinity" :md-active.sync="showSnackbar" md-persistent>
      <span>{{response_message}}</span>
      <md-button class="md-primary" @click.prevent="showSnackbar=!showSnackbar">DISMISS</md-button>
    </md-snackbar>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data: function() {
    return{
      remember_me: false,
      showSnackbar: false,
      disable: false,
      response_message: '',
      info: {
        password: '',
        email: '',
      }
    }
  },
  methods: {
    submit: function() {
      this.disable = true;
      axios.post('https://jsonplaceholder.typicode.com/posts', this.info).then(response => {alert(response.status);}
    ).catch(response => {this.response_message = response.message; this.showSnackbar = true;});
      this.disable = false;
  }
},
  computed: {
    isError: function(){
        return !this.info.email || !this.info.password || this.errors.any('email') || this.errors.any('password') || this.showSnackbar;
    }
  }
}
</script>

<style>
#app {
  margin: 20px;
  width: 50%;
  user-select: none;
}

.md-card-header {
  text-align: center;
}

.md-subhead {
  cursor: pointer;
}

.md-helper-text {
  color:red;
}
</style>
